/* index.css */
body {
  margin: 0;
  font-family: 'IBM Plex Sans', sans-serif;
  /* Carbon's preferred font */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'IBM Plex Mono', monospace;
  /* Carbon's monospace font */
}